.question(id="#{question.id}" class="#{'open_question' unless question.answer}")
	.body
		%strong Q:
		#{question.body}
	- if question.answer
		.answer
			%strong A:
			#{question.answer}

			.comments
				Comments:
				%ul
					- question.comments.each do |comment|
						%li= comment.body

				= form_for [question, question.comments.build], :remote => true, :html => {:id => "c#{question.id}"} do |form|
					= form.text_field :body, :placeholder => 'Type your comment here'
					%button.btn(type='submit') Post
	- else
		= form_for question, :remote => true do |form|
			= form.text_field :answer, :placeholder => 'Type an answer'
			%button.btn(type='submit') Post